.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Style pour la liste des scores */
.score-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.score-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.player-name {
    font-weight: bold;
    color: #333;
}

.player-score {
    font-weight: bold;
    color: #4CAF50;
    margin-right: 10px;
}

/* Style pour le bouton */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4d82bc;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #4cae4c;
}

/* Style pour le bouton supprimer */
.delete-btn {
    background-color: #e74c3c;
    border: none;
    width: 20%;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.8rem;
}

.delete-btn:hover {
    background-color: #c0392b;
}
